<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Statistical calculator</title>
</head>
<body>
<h1>Statistical calculator for sample size</h1>
<form action="/" method="POST">
    <label>
        p1:
        <input type="number" name="p1"/>
    </label>
    <br/>
    <label>
        p2:
        <input type="number" name="p2"/>
    </label>
    <br/>
        <label>
        n1:
        <input type="number" name="n1"/>
    </label>
    <br/>
        <label>
        n2:
        <input type="number" name="n2"/>
    </label>
    <br/>
    <!---<label>
        Rodzaj operacji:
        <select name="operation">
            <option value="add">dodaj</option>
            <option value="subtract">odejmij</option>
            <option value="multiply">pomnóż</option>
            <option value="divide">podziel</option>
        </select>
    </label>-->
    <br/>
    <input type="submit" value="Wyślij"/>
</form>

{% if result %}
<p>Result: {{ result }}</p>
{% endif %}

</body>
</html>